<main>
  <div class="devise-content">
    <h3>新規登録</h3>
    <div class="devise-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <p>メールアドレス</p>
          <%= f.email_field :email, class: "text-form", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <p>パスワード</p>
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, class: "text-form", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <p>パスワード（確認用）</p>
          <%= f.password_field :password_confirmation, class: "text-form", autocomplete: "new-password", placeholder: "　確認のため再度入力してください" %>
        </div>
        <div class="actions submit-button">
          <%= f.submit " 新規登録 ", class: "btn btn-success text-form" %>
        </div>
      <% end %>
    </div>
    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</main>