<main>
  <div class="devise-content">
    <h3>ログイン</h3>
    <div class="devise-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <p>メールアドレス</p>
          <%= f.email_field :email, class: "text-form", autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
          <p>パスワード</p>
          <%= f.password_field :password, class: "text-form", autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit " ログイン ", class: "btn btn-success text-form" %>
        </div>
      <% end %>
    </div>
    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</main>