
<table>
  <thead>
    <th width="25%">日付</th>
    <th width="25%">カテゴリ</th>
    <th width="20%">開始時刻</th>
    <th width="20%">終了時刻</th>
    <th width="10%"></th>
  </thead>
  <% posts.each do |post| %>
  <tbody>
    <td>
      <% if post.end_day == nil %>
        <%= post.start_day %>
      <% else %>
        <%= link_to post_path(post.id) do %><%= post.start_day %><% end %>
      <% end %>
    </td>
    <td><%= post.title %></td>
    <td><%= post.start_time.strftime("%H:%M") %></td>
    <td>
      <% if post.end_time != nil %>
        <%= post.end_time.strftime("%H:%M") %>
      <% end %>
    </td>
    <td>
      <%= form_with model: post, url: post_path(post.id), id: "postForm" do |f| %>
        <%= f.hidden_field :end_time, value: Time.now %>
        <%= f.hidden_field :end_day, value: Date.today %>
        <% if post.end_day == nil %>
          <%= f.button :type => 'submit', id: "stopBtn" , disabled: false do %>
            <i class="far fa-stop-circle"></i>
          <% end %>
        <% end %>
      <% end %>
    </td>
  </tbody>
  <% end %>
</table>
<%= paginate @posts %>