<!DOCTYPE html>
<html>
  <head>
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <title>TimeKeeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_webpack_bundle_tag('main') %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a897026386.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="message-area">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% elsif alert%>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>
    <header>
      <h1>TimeKeeper</h1>
      <div id="navToggle">
        <div>
          <span></span> <span></span> <span></span>
        </div>
      </div>
      <!-- navToggle END -->
      <div class="nav-menu">
        <nav>
          <ul>
            <li><a href="/">ホーム</a></li>
            <li><a href="#"　disabled>プロフィール</a></li>
            <li><a href="#">使い方</a></li>
            <li>
              <% if user_signed_in? %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              <% else %>
                <a href="/users/login">ログイン</a>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
